server:
  port: 0

spring:
  application:
    name: event-service

  main:
    log-startup-info: false
    banner-mode: off

  cloud:
    openfeign:
      circuitbreaker:
        enabled: true

  datasource:
    url: jdbc:postgresql://localhost:6542/ewm_event_db
    username: user
    password: password
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 5
      minimum-idle: 1
      connection-timeout: 30000

  jpa:
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

grpc:
  client:
    analyzer:
      address: 'discovery:///analyzer'
      enable-keep-alive: true
      keep-alive-without-calls: true
      negotiation-type: plaintext

management:
  endpoints:
    web:
      exposure:
        include: health, info

logging:
  level:
    ewm: ERROR
    org.hibernate.SQL: DEBUG
    org.springframework:
      boot.autoconfigure: ERROR
      context: ERROR